#container{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
}
.personal {
width: 70%; 
background-color: beige;
padding: 10px;
border-radius: 15px;
}
h2{
    color: brown; 
    line-height: 1px; 
    
}
img{
    float: left; 
    padding: 7px;
    
}